---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% include base_path %}

## Invited Talks
<ol>
{% assign invited = site.data.talks | where_exp: "item", "item.type contains 'invited'" %}
{% for talk in invited %}
<li style="margin-bottom: 1em;">
  <strong>{{ talk.title }}</strong><br>
  {{ talk.authors | markdownify | remove: '<p>' | remove: '</p>' | strip }}<br>
  <em>{{ talk.venue }}</em>, {{ talk.location }}, {{ talk.date }}.
</li>
{% endfor %}
</ol>

## International Conferences
<ol>
{% assign international = site.data.talks | where_exp: "item", "item.type contains 'int_'" %}
{% for talk in international %}
<li style="margin-bottom: 1em;">
  <strong>{{ talk.title }}</strong><br>
  {{ talk.authors | markdownify | remove: '<p>' | remove: '</p>' | strip }}<br>
  <em>{{ talk.venue }}</em>, {{ talk.location }}, {{ talk.date }}.
</li>
{% endfor %}
</ol>

## Domestic Conferences (Japanese)
<ol>
{% assign domestic = site.data.talks | where_exp: "item", "item.type contains 'dom_'" %}
{% for talk in domestic %}
<li style="margin-bottom: 1em;">
  <strong>{{ talk.title }}</strong><br>
  {{ talk.authors | markdownify | remove: '<p>' | remove: '</p>' | strip }}<br>
  <em>{{ talk.venue }}</em>, {{ talk.location }}, {{ talk.date }}.
</li>
{% endfor %}
</ol>
